<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Site</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'profile', 'data-turbolinks-track': 'reload' %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
  <body>
      <%= render partial: "layouts/shared/header" %>

      <div id="wrapper" style="padding-top: 50px;">
                    <!-- Sidebar -->
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="sidebar-brand">
                                <a href="#">
                                    Perfil
                                </a>
                            </li>
                            <li>
                                <%= link_to  "Dashboard", profile_dashboard_path %>
                            </li>
                            <li>
                                <%= link_to  "Anúncios", ads_index_path %>
                            </li>
                            <li>
                                <%= link_to  "Novo anúncio", new_ad_path %>
                            </li>
                            <li>
                                <%= link_to  "Meus dados", edit_profile_my_datum_path(current_member.id) %>
                            </li>
                            
                        </ul>
                    </div>

                    <div id="page-content-wrapper">
                        
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <%= yield %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /#page-content-wrapper -->
                </div>

            <%= render partial: "layouts/shared_notice/notifications" %>
  </body>
</html>

